<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Font awesome cdn -->
  <script src="https://kit.fontawesome.com/8a6d734775.js" crossorigin="anonymous"></script>

  <!-- Tailwind cdn -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Font Import(Poppins) -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <style>
    *,
    *::after,
    *::before {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    /* Footer at bottom of page */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 100px;
    }
    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  </style>
  <title>Reminisce | <%= title %></title>
</head>
