<header class="outline bg-black flex items-center justify-between py-8 px-4">
  <p class="font-semibold text-[#46d7ff] text-2xl">Reminisce</p>
  <ul class="flex text-white items-center border border-red-800 gap-4">
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</header>
