<header class="flex flex-col items-center gap-4 bg-black py-4">
  <p class="text-4xl font-semibold text-[#46d7ff]">Reminisce</p>
  <!-- <ul class="flex items-center gap-8 text-xl text-white">
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul> -->
</header>
