<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <p>Login</p>
    <!-- email and password fields only -->
    <main>
      <p>Log in</p>
      <form action="#">
        <input type="email" name="" id="" />
        <input type="password" name="" id="" />
        <button>Log in</button>
      </form>
      <div class="my-8 flex items-center gap-4">
        <div class="w-full border-b-[1px] border-gray-800"></div>
        <p>or</p>
        <div class="w-full border-b-[1px] border-gray-800"></div>
      </div>
      <p>New to Reminisce ? <a href="/signup" class="hover:underline">Join now</a></p>
    </main>
  </body>
</html>
