<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="mx-12 outline">
      <p class="text-3xl">Join Reminisce</p>
      <form action="#" class="border border-red-800">
        <input type="email" placeholder="Email" name="" id="" class="outline block" />
        <input type="password" placeholder="Password (8+ characters)" min="8" name="" id="" class="outline block" />
        <button type="submit" class="block">Join</button>
      </form>
      <div>
        <div></div>
        <p>or</p>
        <div></div>
      </div>
      <p>Already on Reminisce ? <a href="">Log in</a></p>
    </main>
  </body>
</html>
